{
    "extends": [
        "plugin:vue/recommended",
        "airbnb-base"
    ],
    "rules": {
        "linebreak-style": "off",
        "no-underscore-dangle": "off",
        "camelcase": "off"
    }
}
